<%= render "shared/header" %>
<div class="overlay"></div>
<div class='main'>
  <div class='item-contents'>
    <h2 class='title'><%= "#{@search_content}の検索結果" %></h2>
    <%= link_to '新規投稿商品', "#", class: "subtitle" %>
    <%= render partial: "item", locals: { items: @items } %>
  </div>
</div>
<%= render "new" %>
<%= render "shared/footer" %>