<!DOCTYPE html>
<html>

<head>
  <title>Furima</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <script type="text/javascript" src="https://js.pay.jp/v1/"></script>
  <%= stylesheet_link_tag 'application', media: 'all'%>
  <%= javascript_pack_tag 'application' %>
  <script defer src="https://use.fontawesome.com/releases/v5.15.0/js/all.js" integrity="sha384-zba7TI5RCX7zpVqdwxLFYtstiHCUSJQr2nGo0dJFhnzfrubNU4zeM/ZUK4nLMNBo" crossorigin="anonymous"></script>
</head>

<body>
  <%= yield %>
</body>

</html>